# Requirements for core
jinja2>=3.0
markdown>=3.2

mkdocs-material-extensions>=1.1
mkdocs-minify-plugin>=0.3
mkdocs-redirects>=1.0
pillow>=9.0
cairosvg>=2.5
pygments>=2.14
pymdown-extensions>=9.9.1
mkdocs-material
mkdocs-blog-plugin
mkdocs-plugin-tags
# Requirements for plugins
colorama>=0.4
regex>=2022.4.24
requests>=2.26
mkdocs-dracula-theme