h1, h2, h3, h4 {
    margin-top: 1.8rem!important;
    color: chartreuse;
}

.section-content {
    font-size: smaller;
    color: whitesmoke;
}

strong {
    font-weight: bolder;
    color: chartreuse;
}

footer {
    position: relative;
    bottom: 0;
}